body 
{
    font-family: "Segoe UI", "Sans";
}

div#track-container { left: 0; top: 0; width: 1172px; height: 770px; position: absolute; }

div#debugging { position: absolute; right: 0; top: 0; width: 748px; white-space: pre-wrap; }

div#last-lap-time { color: #ffff00; }

canvas#track { background: rgb(51, 51, 51); position: absolute; left: 0; top: 0; z-index: 0; }
canvas#cars { position: absolute; left: 0; top: 0; z-index: 1; background: transparent; }

div#controls { position: absolute; left: 30px; top: 15px; z-index: 2; color: white; font-size: 2em; }
div#tick-count { display: inline-block; width: 220px; }
div#buttons { display: inline-block; }
div#buttons div { display: inline-block; margin-right: 20px; }
div#buttons div:hover { text-decoration: underline; cursor: pointer; }

div#stats { position: absolute; left: 30px; bottom: 35px; z-index: 3; color: white; font-size: 1.2em; }
div#stats div { display: inline-block; width: 120px; }
div#stats label { font-size: 0.6em; }

div#plots { position: absolute; width: 728px; height: 350px; right: -900; top: 0;}